<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email Validation</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="/register" method="post">
      <p>Email: <input type="text" name="email" value="" placeholder="email@gmail.com"></p>
      <input type="submit" name="" value="GO!">
    </form>

  </body>
</html>
