// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lefter {
  display: inline-block;
  border: 1px black solid;
}

.righter {
  display: inline-block;
  border: 1px black solid;
  margin-left: 5px;
}
