<body>
  <nav class="red darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="https://github.com/jcbarn5" class="brand-logo">Jacob Barnes</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#home">Home</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#links">Links</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <img src="/assets/profile_pic.jpg" class="responsive-img z-depth-5" style="width: 200px; margin: 0 auto; display: block; border-radius: 5%;">
        <h1 class="header center red-text text-darken-4 black">Jacob Barnes</h1>
        <div class="row center">
          <h5 class="header center red-text text-darken-4 black">Full Stack Developer</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light yellow darken-4">Resume</a>
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light yellow darken-4">Download</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="/assets/ret_tech.jpg" alt="Unsplashed background img 1"></div>
  </div>
  <div id="skills" class="container orange darken-4">
    <h2 class="center orange darken-4" style="color: white;">SKILLS</h2>
    <div class="section">

      <!--   Icon Section   -->
        <div class="row center">
          <div class="icon-block">
            <div class="col 12 m2 s6">
          		<img src="/assets/angularjs.png" style="width: 90%; height: auto;">
          	</div>
            <div class="col 12 m2 s6">
              <img src="/assets/aws.png" style="width: 90%; height: auto;">
            </div>
            <div class="col 12 m2 s6">
          		<img src="/assets/django.png" style="width: 90%; height: auto;">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/flask.png" style="width: 90%; height: auto;">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/github.png" style="width: 90%; height: auto;">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/mamp.png" style="width: 90%; height: auto;">
            </div>
        	</div>
        </div>

        <div class="row center">
          <div class="icon-block">
            <div class="col 12 m2 s6">
          		<img src="/assets/mongodb.png" style="width: 90%; height: auto;">
          	</div>
            <div class="col 12 m2 s6">
              <img src="/assets/nodejs.png" style="width: 90%; height: auto;">
            </div>
            <div class="col 12 m2 s6">
          		<img src="/assets/npm.png" style="width: 90%; height: auto;">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/postgres.png" style="width: 90%; height: auto;">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/python.png" style="width: 90%; height: auto;">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/rails.png" style="width: 90%; height: auto;">
          	</div>
          </div>
        </div>

        <div class="row center">
          <div class="icon-block">
            <div class="col 12 m2 s6">
          		<img src="/assets/ruby.png" style="width: 90%; height: auto;">
          	</div>
            <div class="col 12 m2 s6">
              <img src="/assets/terminal.png" style="width: 90%; height: auto;">
            </div>
            <div class="col 12 m2 s6">
          		<img src="/assets/vagrant.png" style="width: 90%; height: auto;">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/html.png" style="width: 90%; height: auto;">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/js.png" style="width: 90%; height: auto;">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/css.png" style="width: 90%; height: auto;">
          	</div>
          </div>
        </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/glasses.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div id="projects" class="container red">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>PROJECTS</h4>
          <p class="left-align light">project divs need to go here</p>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container red">
        <div class="row center">
          <h5 class="header col s12 light">Something Something Something Dark Side</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/tester.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer id="links"  class="page-footer red">
    <div class="container red">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center red">
      Made by <a class="white-text text-lighten-3" href="https://github.com/jcbarn5">Jacob Barnes</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->


  </body>
