<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Form</title>
  </head>
  <body>
    <h1>Cars Form</h1>
    <form action="new" method="post">
      <p>Make: <input type="text" name="" placeholder="Make"></p>
      <p>Model: <input type="text" name="" placeholder="Model"></p>
      <p>Year: <input type="text" name="" placeholder="Year"></p>
      <p>Color: <input type="text" name="" placeholder="Color"></p>
      <p><button type="submit" name="submit">Submit</button></p>
    </form>
  </body>
</html>
