<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form Info</title>
  </head>
  <h1>Submitted Info</h1>
  <body>
    <p>Name: <%= user_data.name %></p>
    <p>Dojo Location: <%= user_data.dojo %></p>
    <p>Favorite Language: <%= user_data.favlang %></p>
    <p>Comment: <%= user_data.comment %></p>
    <br>
    <a href="/"><h3>Back</h3></a>
  </body>
</html>
