<div ng-controller="PlayersController">
   <form name='playerForm'>
      Name: <input type="text" name='name' ng-model="newPlayer.name" minlength='4' required>
      <!-- <input type="hidden" name="team" ng-model="newPlayer.team"> -->
      <button type="submit" ng-click="addPlayer()">Add Player</button>
   </form>
   <div ng-messages="playerForm.name.$error">
        <p ng-message="minlength">The player name is too short.</p>
        <p ng-message="required">The player name is required.</p>
   </div>
   <table border>
      <tr>
         <td>Name</td>
         <td>Actions</td>
      </tr>
      <tr ng-repeat="player in players">
         <td ng-bind="player.name"></td>
         <td><button ng-click="removePlayer($index)">Remove Player</button></td>
      </tr>
   </table>
</div>
