<div ng-controller='indexController' ng-repeat = "friend in friends track by $index">
  <table border>
    <th>
      <td>Name</td>
      <td>Fav. Language</td>
      <td>Show</td>
      <td>Update</td>
      <td>Delete</td>
    </th>
    <tr>
      <td>{{friends.name}}</td>
      <td>{{friends.favLang}}</td>
      <td> <a href="#!/show"></a> </td>
      <td> <a href="#!/edit"></a> </td>
      <td> <a href="#!/delete"></a> </td>
    </tr>
  </table>

  <div>
    <!-- friends controller needed -->
    <form>
      <input type="text" ng-model='filterFriends' placeholder="filter...">
    </form>
    <ul>
      <li ng-repeat='f in friends | filter: filterFriends track by $index'>{{f.name}}</li>
    </ul>
  </div>

  <form>
    <button type="submit" value="New Friend"></button>
  </form>


</div>
