<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcom</title>
  </head>
  <body>
    <h1>Welcome to Quoting Dojo</h1>
    <hr>
    <form action="/quotes" method="post">
      <p>Your Name: <input type="text" name="name"></p>
      <p>Your quote: <textarea name="quote" rows="8" cols="80"></textarea></p>
      <p><input type="submit" value="Add my quote!"></p>
    </form>
    <a href="/toQuotes">Skip to quotes</a>
  </body>
</html>
