<h1>Register for Dojo Secrets</h1>
<form action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Name: <input type="text" id="Name" name = "user[name]"></p>
	<p>Email: <input type="text" id="Email" name = "user[email]"></p>
	<p>Password: <input type="text" id="Password" name = "user[password]"></p>
	<p>Confirm Password: <input type="text" id="Password_Confirmation" name = "user[password_confirmation]"></p>
	<p><input type="submit" name="Join" value="Join"></p>
</form>
