<div ng-controller='dashCtrl'>
  <h1>Dashboard Page</h1>

<div ng-repeat='product in products'>
  <p>{{product.name}}</p> <span>({{product.quantity}} left)</span>
  <div>
    <img ng-src="{{product.picture}}" alt="Product Image">
  </div>
</div>
<a href="#!/products/">Show more...</a>

<div>
  <h2>Recent orders</h2>
  <ul>
    <li ng-repeat='order in orders'>
      <p>{{order._customer.name}} purchased {{ order.quantity }} {{ order._product.name }}(s)... <span am-time-ago="order.created_at | amParse:'YYYY.MM.DD HH:mm:ss'"></span></p>
    </li>
  </ul>
  <a href="#!/orders/">show all orders...</a>
</div>

<h2>New customers</h2>
<ul>
  <li ng-repeat='customer in customers'>
    <p>{{customer.name}} joined the store. (<span am-time-ago="customer.created_at | amParse:'YYYY.MM.DD HH:mm:ss'">{{customer.created_at | date: "MMM. dd, yyyy"}}</span>)</p>
  </li>
</ul>
<a href="#!/customers/">show all customers...</a>

</div>
