<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Page</title>
  </head>
  <body>
    <h2>Current User that is being edited</h2>

      {{friend[0]['first_name']}}
      {{friend[0]['last_name']}}
      {{friend[0]['email']}}

    <form action="/friends/{{friend[0]['id']}}" method="post">
      <p>First Name: <input type="text" name="first_name" value="{{friend[0]['first_name']}}" placeholder="{{friend[0]['first_name']}}"></p>
      <p>Last Name: <input type="text" name="last_name" value="{{friend[0]['last_name']}}" placeholder="{{friend[0]['last_name']}}"></p>
      <p>Email: <input type="text" name="email" value="{{friend[0]['email']}}" placeholder="{{friend[0]['email']}}"></p>
      <p><input type="submit" value="Go!"></p>
    </form>

  </body>
</html>
